<header class="page-header">
  <div class="header-block-container">
    <h1><%= @book.title %></h1>
    <% if current_user.present? %>
      <%= link_to '+ New Book', new_book_path, class: 'button-white' %>
    <% end %>
  </div>
</header>

<section class="book-wrapper">
  <div class="book-block-container">
    <% if @book.image_url %>
      <%= image_tag @book.image_url %>
    <% end %>
  <div class="text-block">
    <h1><% @book.title %></h1>
    <h6><% link_to @book.author.full_name, author_path(@book.author) %></h6>
    <p><%= @book.description %></p>
    <% if current_user.present? %>
      <%= link_to "Write a review", new_book_review_path(@book), class: 'button-primary' %>
      <%= link_to 'Edit', edit_book_path(@book) %>
    <% end %>
  </div>
</section>